.header .wrapper
{
width:80%;
margin:auto;
}
.banner .wrapper
{
width:80%;
margin:auto;
}
.logo .wrapper
{
width:80%;
margin:auto;
}
.provident.wrapper
{
width:80%;
margin:auto;
}
.contentbox.wrapper
{
width:80%;
margin:auto;
}
.services.wrapper
{
width:80%;
margin:auto;
}
.calltoaction.wrapper
{
width:80%;
margin:auto;
}
.testimonials.wrapper
{
width:80%;
margin:auto;
}
.portfolio .wrapper
{
width:80%;
margin:auto;
}
.team .wrapper
{
width:80%;
margin:auto;
}
.pricing .wrapper
{
width:80%;
margin:auto;
}
.faq .wrapper
{
width:80%;
margin:auto;
}
.contact .wrapper
{
width:80%;
margin:auto;
}
.about .wrapper
{
width:80%;
margin:auto;
}
.copyright .wrapper
{
width:80%;
margin:auto;
}

.header
{
	background-color:MediumPurple;
	height:98px;
}
.header-fc
{ 
	
	display:flex;
	justify-content:space-between;
}
.header .header-fc .header-logo
{
	background-color:plum;
	width:70px;
	height:58px;
	align-items:left;
	margin-top:5px;
}
.header .header-fc .header-navi
{
	background-color:plum;
	width:473px;
	height:58px;
	align-items:center;
	margin-top:5px;
}
.header .header-fc .header-box
{
	background-color:plum;
	width:100px;
	height:58px;
	align-items:right;
	margin-top:5px;
}
.banner
{
	background-color:gray;
	height:432px;
}
.banner .banner-fc
{
	display:flex;
	justify-content:space-evenly;
	margin-top:10px;
	flex-wrap:wrap;
}
.banner .banner-fc .boxa
{
	background-color:white;
	height:160px;
	width:580px;
	margin-top:20px;
}
.banner .bannera-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-top:20px;
	justify-content:space-evenly;
	text-align:center;
}
.banner .bannera-fc .boxb
{
	background-color:white;
	height:162px;
	width:160px;
}
.banner .bannera-fc .boxc
{
	background-color:white;
	height:162px;
	width:160px;
}
.banner .bannera-fc .boxd
{
	background-color:white;
	height:162px;
	width:160px;
}
.banner .bannera-fc .boxe
{
	background-color:white;
	height:162px;
	width:160px;
}
.banner .bannera-fc .boxf
{
	background-color:white;
	height:162px;
	width:160px;
}
.provident
{
	background-color:purple;
	height:544px;
}
.provident .provident-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.provident .provident-fc .logoa
{
	width:560px;
	height:425px;
	margin-top:50px;
	background-color:white;
	text-align:center;
}
.provident .provident-fc .logob
{
	background-color:white;
	width:550px;
	height:410px;
	text-align:center;
	margin-top:50px;
}
.logo
{
	background-color:pink;
	height:104px;
}
.logo .logo-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.logo .logo-fc .logoa
{
	width:102px;
	height:41px;
	margin-top:10px;
	background-color:white;
	text-align:center;
}
.logo .logo-fc .logob
{
	background-color:white;
	width:102px;
	height:41px;
	text-align:center;
	margin-top:10px;
}
.logo .logo-fc .logoc
{
	background-color:white;
	width:102px;
	height:41px;
	margin-top:10px;
	text-align:center;
}
.logo .logo-fc .logod
{
	width:102px;
	height:41px;
	background-color:white;
	margin-top:10px;
	text-align:center;
}
.logo .logo-fc .logoe
{
	background-color:white;
	width:102px;
	height:41px; 
	text-align:center;
	margin-top:10px;
}
.logo .logo-fc .logof
{
	background-color:white;
	width:102px;
	height:41px; 
	text-align:center;
	margin-top:10px;
}
.test
{
	background-color:gray;
	height:610px;
}
.test .test-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.test .test-fc .boxa
{
	width:500px;
	height:490px;
	margin-top:40px;
	background-color:white;
	text-align:center;
}
.test .test-fc .boxb
{
	background-color:white;
	width:550px;
	height:476px;
	text-align:center;
	margin-top:40px;
}
.services
{
	background-color:purple;
	height:927px;
}
.services .services-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.services .services-fc .boxa
{
	width:357px;
	height:336px;
	margin-top:100px;
	background-color:white;
	text-align:center;
}
.services .services-fc .boxb
{
	background-color:white;
	width:357px;
	height:336px;
	text-align:center;
	margin-top:100px;
}
.services .services-fc .boxc
{
	background-color:white;
	width:357px;
	height:336px;
	margin-top:100px;
	text-align:center;
}
.services .services-fc .boxd
{
	width:357px;
	height:336px;
	background-color:white;
	margin-top:50px;
	text-align:center;
}
.services .services-fc .boxe
{
	width:357px;
	height:336px;
	background-color:white;
	margin-top:50px;
	text-align:center;
}
.services .services-fc .boxf
{
	width:357px;
	height:336px;
	background-color:white;
	margin-top:50px;
	text-align:center;
}
.calltoaction
{
	background-color:yellow;
	height:283px;
}
.calltoaction .calltoaction-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.calltoaction .calltoaction-fc .boxa
{
	width:202px;
	height:84px;
	margin-top:120px;
	background-color:white;
	text-align:center;
}
.portfolio
{
	background-color:MediumPurple;
	height:1436px;
}
.portfolio .portfolio-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.portfolio .portfolio-fc .boxa
{
	width:300px;
	height:360px;
	margin-top:70px;
	background-color:white;
}
.portfolio .portfolio-fc .boxb
{
	background-color:white;
	width:300px;
	height:276px;
	text-align:center;
	margin-top:70px;
}
.portfolio .portfolio-fc .boxc
{
	background-color:white;
	width:300px;
	height:266px;
	margin-top:70px;
}
.portfolio .portfolio-fc .boxd
{
	width:300px;
	height:530px;
	background-color:white;
	margin-top:60px;
}
.portfolio .portfolio-fc .boxe
{
	background-color:white;
	width:300px;
	height:535px;
	margin-top:0px;
}
.portfolio .portfolio-fc .boxf
{
	width:300px;
	height:386px;
	background-color:white;
	margin-top:10px;
}
.portfolio .portfolio-fc .boxg
{
	width:300px;
	height:266px;
	background-color:white;
	margin-top:80px;
}
.portfolio .portfolio-fc .boxh
{
	background-color:white;
	width:300px;
	height:266px;
	margin-top:80px;
}
.portfolio .portfolio-fc .boxi
{
	width:300px;
	height:266px;
	background-color:white;
	margin-top:80px;
}
.providenta
{
	background-color:pink;
	height:653px;
}
.providenta .providenta-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.providenta .providenta-fc .boxa
{
	width:477px;
	height:500px;
	margin-top:60px;
	background-color:white;
	text-align:center;
}
.providenta .providenta-fc .boxb
{
	background-color:white;
	width:679px;
	height:460px;
	text-align:center;
	margin-top:60px;
}
.about
{
	background-color:purple;
	height:452px;
}
.about .about-fc
{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.about .about-fc .boxa
{
	background-color:white;
	height:111px;
	width:160px;
	margin-top:50px;
}
.about .about-fc .boxb
{
	background-color:white;
	height:90px;
	width:956px;
	margin-top:50px;
	margin-bottom:25px;
}
.team
{
	background-color:gray;
	height:660px;
	
}
.team .team-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.team .team-fc .boxs
{
	text-align:center;
	margin-top:80px;
	margin-top:90px;
}
.team .team-fc .boxa
{
	width:220px;
	height:350px;
	margin-top:150px;
	background-color:white;
	margin-right:40px;
}
.team .team-fc .boxb
{
	background-color:white;
	width:220px;
	height:350px;
	margin-top:150px;
	margin-right:40px;
}
.team .team-fc .boxc
{
	background-color:white;
	width:220px;
	height:350px;
	margin-top:150px;
	margin-right:40px;
}
.team .team-fc .boxd
{
	width:220px;
	height:350px;
	background-color:white;
	margin-top:150px;
	margin-right:40px;
}
.contact
{
	background-color:MediumPurple;
	height:665px;
}
.contact .contact-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.contact .contact-fc .boxa
{
	width:300px;
	height:294px;
	margin-top:100px;
	background-color:white;
}
.contact .contact-fc .boxb
{
	background-color:white;
	width:650px;
	height:377px;
	text-align:center;
	margin-top:100px;
}
.data
{
	background-color:gray;
	height:350px;
}
.data .data-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.data .data-fc .boxa
{
	width:205px;
	height:257px;
	margin-top:50px;
	background-color:white;
	margin-right:40px;
}
.data .data-fc .boxb
{
	background-color:white;
	width:172px;
	height:263px;
	margin-top:50px;
	margin-right:40px;
}
.data .data-fc .boxc
{
	background-color:white;
	width:193px;
	height:254px;
	margin-top:50px;
	margin-right:40px;
}
.data .data-fc .boxd
{
	width:405px;
	height:249px;
	background-color:white;
	margin-top:50px;
	margin-left:70px;
	margin-right:40px;
}
.copyright
{
	background-color:MediumPurple;
	height:134px;
}
